* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("assets/img/computer.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

nav {
    background-color: #2a2a2a65;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

ul a {
    text-decoration: none;
    padding: 1em;
    color: aliceblue;
    font-size: 1.25rem;
}

ul a:hover {
    color: dodgerblue;
}

h1 {
    text-align: center;
    padding: 1em;
    font-size: 2.5rem;
    font-family: monospace;
    color: aliceblue;
}

form {
    display: flex;
    justify-content: center;
}

form .form {
    border: 1px solid dodgerblue;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    padding: 3rem 5rem;
}

.icon {
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0.25rem;
}

input#username, input#password {
    height: 2rem;
    width: 12rem;
    border: none;
    margin-bottom: 1rem;
    border-bottom: 2px solid dodgerblue;
    text-align: center;
    padding-left: 1.5rem;
}

input:focus {
    outline: none;
}

#login {
    width: 12rem;
    padding: 0.5rem 2rem;
    background-color: dodgerblue;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    outline: none;
    border: none;
}

.new-here {
    padding: 1rem;
}

footer {
    color: aliceblue;
    background-color: #2a2a2a65;
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    nav {
        background-color: transparent;
        padding: 0;
    }

    .dropdown-btn {
        display: block;
        position: absolute;
        right: 1em;
        padding-top: 1rem;
        width: 3rem;
        cursor: pointer;
    }

    .dropdown-btn [class*="line-"] {
        width: 100%;
        height: 0.4rem;
        margin-bottom: 10px;
        background-color: aliceblue;
        display: block;
    }

    .dropdown-btn [class*="line-"]:nth-child(3) {
        margin-bottom: 0;
    }

    .dropdown-content {
        display: none;
        width: 100vw;
        text-align: center;
        margin-top: 4rem;
    }

    .dropdown-content li {
        background-color: #1e8fff23;
        border-bottom: 1px solid rgba(240, 248, 255, 0.511);
    }

    .dropdown-content li a {
        display: block;
    }

    .dropdown-content li:hover {
        background-color: #1e8fff60;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

}